<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Use this <b>token</b> to confirm <%= identity.id %>/<%= identity.emailConfirmationCode %></p>
</body>
</html>
