<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <% if (error) { %>
  <% if (error.data) { %>

  <h1><%= error.data.error %></h1>

  <strong>DETAILS</strong>
  <% if (debug) { %>
    <pre><%= error.stack %></pre>
  <% } else { %>
    <pre><%= error.message %></pre>
  <% } %>

  <strong>STATE</strong>
  <%= error.data.state %>

  <% } else { %>

  <h1><%= error.message %></h1>

  <% if (debug) { %>
  <pre><%= error.stack %></pre>
  <% } %>

  <% } %>
  <% } %>


  <script>
//    var message = Object.keys(window.location).filter(function (key) {
//      return ['hash', 'host', 'hostname', 'origin', 'pathname', 'port', 'protocol', 'search'].indexOf(key) !== -1
//    }).reduce(function (result, key) {
//      result[key] = window.location[key];
//      return result;
//    }, {});
    var data = (<%- JSON.stringify(error ? error.data : token); %>);
    window.opener.postMessage(data, window.location.origin);
  </script>
</body>
</html>
